language: cpp

compiler:
  - clang
  - gcc

env:
  global:
#   unfortunately we need this to stay within 50min timelimit given by travis.
#   this also turns off the debug/warning cxxflags
    - CXXFLAGS="-O2 -march=native -mtune=native -Wunreachable-code"
  matrix:
#    special CXXFLAGS for maximum speed, overrides global CXXFLAGS, CHECK_CLANG is the var that controls if we download and check clang in that travis job
    - SRCDIR=build VERIFY=1 STATUS=1

matrix:
# do notify immediately about it when a job of a build fails.
  fast_finish: true

before_install:
# install needed deps
 - sudo apt-get update -qq
 - sudo apt-get install -qq python-pygments libqt4-core libqt4-gui libqt4-dev qt4-dev-tools qt4-qmake libxml2-utils libpcre3 gdb unzip

script:
# download clang git, compile cppcheck, run cppcheck on clang code to look for crashes in cppcheck. if this is done, terminate build
  - wget "https://github.com/mirrors/gcc/archive/19222566ae645b56b5b0655a822b1370f57f1b97.zip"
  - make -j 4 & wait; unzip 19222566ae645b56b5b0655a822b1370f57f1b97.zip > /dev/null
  - touch /tmp/clang.cppcheck
  - cd ./gcc-19222566ae645b56b5b0655a822b1370f57f1b97
  - ../cppcheck gcc/testsuite --max-configs=1 --enable=all --inconclusive --exception-handling -igcc/go/gofrontend/runtime.cc  -igcc/testsuite/g++.dg/parse/stack1.C  -igcc/testsuite/g++.dg/template/mem-partial1.C  -igcc/testsuite/gcc.c-torture/compile/limits-externdecl.c  -igcc/testsuite/gcc.dg/binary-constants-1.c -igcc/testsuite/gcc.c-torture/compile/limits-fndefn.c  -igcc/testsuite/gcc.dg/c99-intconst-1.c -igcc/testsuite/gcc.dg/binary-constants-1.c -igcc/testsuite/gcc.dg/c99-intconst-1.c -igcc/testsuite/gcc.c-torture/compile/limits-structnest.c  -j 1 |& tee /tmp/clang.cppcheck |& grep "^Checking" ; cd ../
  - grep "process crashed with signal\|Internal error\. compiled" /tmp/clang.cppcheck || STATUS=0
  - exit $STATUS

